<form class="container" [formGroup]="forgotPasswordForm">
  <div class="col-12 text-center container p-3">
    <h3  class="text-violet text-uppercase"> Forgot Password Form</h3>
  </div>

    <div class="form-floating mb-3 container col-6 g-1 align-items-center">
      <input type="email" class="form-control rounded-3 border-violet" id="email" formControlName="email" 
      placeholder="name@example.com"
      [ngClass]="{'is-invalid': forgotPasswordForm.controls.email.invalid && 
      forgotPasswordForm.controls.email.touched,
      'is-valid': forgotPasswordForm.controls.email.valid && 
      forgotPasswordForm.controls.email.touched}">
      <label for="floatingInput">Email address</label>


          <span class="invalid-feedback" 
          *ngIf="forgotPasswordForm.controls.email.touched 
          && forgotPasswordForm.controls.email.errors?.['required']">
          This field is required
          </span>
  
          <span class="invalid-feedback"
          *ngIf="forgotPasswordForm.controls.email.touched 
          && forgotPasswordForm.controls.email.errors?.['email']">
          email is invalid
          </span>

  </div>



    <div class="container col-6 g-1 align-items-center">
        <button class="col-lg-3 mb-2 btn btn-lg rounded-3 btn-violet" 
        [disabled]="forgotPasswordForm.invalid"  (click)="resetPassword($event)">Reset Password</button>
    </div>



</form>

