
<form class="container" [formGroup]="restPasswordForm">
  <div class="col-12 text-center container p-3">
    <h3  class="text-violet text-uppercase"> Reset Password Form </h3>
  </div>
    
      <div class=" form-floating mb-3 container col-6 g-1 align-items-center">

        <input type="password" class="form-control rounded-3 border-violet" id="password" formControlName="password"
         placeholder="Password"
         [ngClass]="{'is-invalid': restPasswordForm.controls.password.invalid && 
         restPasswordForm.controls.password.touched,
         'is-valid': restPasswordForm.controls.password.valid && 
         restPasswordForm.controls.password.touched}">
        <label for="password">Password</label>
      
            <span class="invalid-feedback" 
            *ngIf="restPasswordForm.controls.password.touched 
      && restPasswordForm.controls.password.errors?.['required']">
      This field is required
            </span>
    

            <span class="invalid-feedback"
            *ngIf="restPasswordForm.controls.password.touched 
            &&restPasswordForm.controls.password.errors?.['minlength']">
            Minimum length is 8 char
            </span>

    </div>

        <div class=" form-floating mb-3 container col-6 g-1 align-items-center">

        <input type="password" class="form-control rounded-3 border-violet" id="confirmPassword" 
        formControlName="confirmPassword" placeholder="Confirm password"
        [ngClass]="{'is-invalid': restPasswordForm.hasError('passwordsMismatch') 
        && restPasswordForm.controls.confirmPassword.touched,
        'is-valid': !restPasswordForm.hasError('passwordsMismatch') 
        && restPasswordForm.controls.confirmPassword.touched}">
        <label for="confirmPassword">Confirm password</label>
      



     <span class="invalid-feedback" 
     *ngIf="restPasswordForm.controls.confirmPassword.touched 
      && restPasswordForm.hasError('passwordsMismatch') ">
      Passwords do not match.
     </span>

    </div>


    <div class="container col-6 g-1 align-items-center">
        <button class="col-lg-3 mb-2 btn btn-lg rounded-3 btn-violet" 
        [disabled]="restPasswordForm.invalid"  (click)="save($event)">Save</button>
    </div>

</form>
