<div *ngIf="wishlistLoading==false" class="d-flex align-items-center justify-content-center" 
style="height: 739px;">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<section *ngIf="wishlistLoading==true" class="mt-2">
    <div class="container">
  
         <div class="col-lg-8 text-center container ps-lg-5 pe-lg-4 ps-md-3 pe-md-0 mb-3">
        <h2 class="text-cemter">My Wishlist</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center mb-5"
         *ngFor="let product of paginatedProducts" #product_card>
          <div class="card" style="width: 600px;">
            <img [src]="product.interfaceImageUrl" style="height: 410px;"
             class="card-img-top" alt="Product Image">
             <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.clientsCount}} Clients</p>
              <div class="d-flex justify-content-between align-items-center">
                  <span class="h5 mb-0">{{product.price}} EGP/day</span>
                  <div>
                    <app-stars-ratings [rating]="product.overallRating"></app-stars-ratings>
                      <small class="text-muted">({{product.overallRating}})</small>
                  </div>
              </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
           <a [routerLink]="'/product/'+product.id" class="btn btn-primary btn-sm">More Details</a>  
           <button (click)="removeBookmark(product.id,product_card)" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-heart"></i></button>
          </div>

           </div>
          </div>
        </div>

        <app-pagination *ngIf="wishlist?.products!.length!=0 && sizeOfPage!=0"
[sizeOfPage]="sizeOfPage"
[data]="wishlist?.products!"
(sendedData)="GetData($event)"></app-pagination>

    
    </div>
</section>