<form class="container" [formGroup]="countryForm">

    <select  class="form-select" class="form-select" formControlName="country" >
      <option [value]="0">-Select-</option>
      <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
    </select>

    <span class="form-text text-danger ms-2" 
    *ngIf="countryForm.controls.country.touched && countryForm.controls.country.errors?.['required']">
    This field is required 
    </span>    

     <div class="container text-center g-1 my-2">     
  <button class="btn btn-danger" type="button" 
    (click)="RemoveCountry($event)">Remove</button>
</div>
</form>

